.form_component form{
  display: flex;
  flex-direction: column;
}

input{
  width: 350px;
  height: 35px;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
}

textarea{
  margin-bottom: 15px;
}

button{
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: red;
  margin-right: 30px;
}