.movieCard_component{
  width: 170px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  border-radius: 3px;
  border: 1px solid red;
}

.description_movie p{
  font-size: 15px;
}

.btn-more {
  display: flex;
  width: 40%;
  float: right;
}

.btn-more button{
  cursor: pointer;
  width: 60px;
  height: 30px;
  margin-right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
}