.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title_movieList{
  color: red;
}

/* .movies{
  border: 1px solid white;
  border-radius: 3px;
} */

.btns{
  margin-top: 70px;
}

.btns .btn{
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: red;
  margin-right: 30px;
}
